[user]
	name = Luke Hinds
	email = lukehinds@gmail.com
	signingkey = 1BE75411D1730E18

[commit]
	gpgsign = true

[core]
	excludesfile = /Users/lukehinds/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	conflictStyle = zdiff3

[include]
	path = ~/.gitconfig.local
